html {
    background: #fff;
    color: #252525;
    font-family: sans-serif;
    line-height: 1.382;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 1em
}
header, footer {
    padding: 1em;
    text-align: center
}
a {
    color: #616161
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1.5em;
    text-indent: -1.5em;
}
li {
    margin: .382em 0
}
.profile-picture {
    border-radius: 50%
}

/* portfolio */
.creative-field-list {
    padding: 0;
    text-indent: 0;
}
.creative-field-item {
    display: inline-block;
    margin: 0
}
.creative-field-item:not(:last-child):after {
    content: ', '
}
.profile-location {
    display: block;
    margin: 1em 0 0
}
.portfolio-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.portfolio-item {
    background: #f6f6f6;
    margin: .1em;
    max-width: 202px;
    padding: 1em;
    text-align: center;
}
.portfolio-image {
    max-width: 100%
}

/* icons */
.icon-angellist:before {
    content: "\e601";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-behance:before {
    content: "\e602";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-book:before {
    content: "\e603";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-education:before {
    content: "\e604";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-email:before {
    content: "\e605";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-facebook:before {
    content: "\e606";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-foursquare:before {
    content: "\e607";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-github:before {
    content: "\e608";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-googleplus:before {
    content: "\e609";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-website:before {
    content: "\e60a";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-hypem:before {
    content: "\e60b";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-instagram:before {
    content: "\e60c";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-jsfiddle:before {
    content: "\e60d";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-linkedin:before {
    content: "\e60e";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-mapmarker:before {
    content: "\e60f";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-pdf:before {
    content: "\e610";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-runkeeper:before {
    content: "\e600";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-soundcloud:before {
    content: "\e611";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-twitter:before {
    content: "\e612";
    font-family: 'icomoon';
    margin-right: .5em;
}
.icon-work:before {
    content: "\e613";
    font-family: 'icomoon';
    margin-right: .5em;
}