html {
    background: #fff;
    color: #252525;
    font-family: sans-serif;
    line-height: 1.382;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 1em
}
header, footer {
    padding: 1em;
    text-align: center
}
a {
    color: #616161
}
ul {
    list-style-type: none;
    padding: 0 1.25em;
    text-indent: -1.25em;
}
ul ul {
    padding: 0 1.25em;
}
li {
    margin: .382em 0
}
.profile-picture {
    border-radius: 50%
}

/* portfolio */
.creative-field-list {
    padding: 0
}
.creative-field-item {
    display: inline-block;
    margin: 0
}
.creative-field-item:after {
    content: ', '
}
.creative-field-item:last-child:after {
    content: ''
}
.profile-location {
    display: block;
    margin: 1em 0 0
}
.portfolio-area {
    text-align: center
}
.portfolio-item {
    display: inline-block;
    margin: 1em;
    max-width: 202px;
    vertical-align: top
}
.portfolio-image {
    max-width: 100%
}

/* icons */
.icon {
    fill: currentColor;
}
.icon-runkeeper, .icon-angellist, .icon-behance, .icon-book, .icon-education, .icon-email, .icon-facebook, .icon-foursquare, .icon-github, .icon-googleplus, .icon-home, .icon-hypem, .icon-instagram, .icon-jsfiddle, .icon-linkedin, .icon-mapmarker, .icon-pdf, .icon-soundcloud, .icon-twitter, .icon-work {
    height: 1em;
    width: 1em;
}